<!DOCTYPE html>
<html>
<head>
    <title>reCAPTCHA Test</title>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_token }}"></script>
    <script>
        function onSubmit() {
            var action = document.getElementById('action-input').value;
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ recaptcha_token }}', {action: action}).then(function(token) {
                    console.log('reCAPTCHA token:', token);
                    let res = document.getElementById('recaptcha-result');
                    res.value = token;
                });
            });
        }
    </script>
</head>
<body>
    <form onsubmit="event.preventDefault(); onSubmit();">
        <input type="text" id="action-input" placeholder="Enter action">
        <button type="submit">Submit</button>
    </form>
<input type="text" id="recaptcha-result">
</body>
</html>
